:root{
    /* Grid Size */
    /* this needs to manually match GRID_SIZE in App.vue */
    --grid-size: 5;

    /* Borders */
    --border-medium: 8px;

    /* Spacing */
    --vertical-gap: 30px;

    /* This positions the game window well for 1x zoom in full screen and half screen widths on desktop */
    --view-scale-1x: 50px;

    /* Colors */
    --color-primary: rgb(90, 201, 245);
    --color-primary-hover: rgb(155, 228, 255);
    --background-primary: rgb(40, 43, 51);
    --background-secondary: rgb(51, 62, 71);
    --grid-line: rgb(100, 100, 100);

    --font-light: white;
    --font-dark: black;   

    /* Fonts */
    font-family: sans-serif;
}