/* Game View Styles */

body {
    min-height: 100vh;
    /* this controls the 'centered-ness' of the game window */
    padding: var(--view-scale-1x);
}

.game-window {
    background-color: var(--background-primary);
    margin: auto;
    width: 784px;
    height: 794px;
    padding: 20px 0px;
}

.container{
    justify-content: space-between;
    padding: var(--vertical-gap) 0px;
    border-color:rgb(60, 182, 87);
    min-height: 100%;
    width: 65%;
    margin: auto;
}

.instructions{
    font-weight:600;
    background-color: var(--background-secondary);
    color: var(--font-light);
    padding: 10px 20px;
    border-radius: var(--border-medium);
    text-align: center;
    margin-bottom: var(--vertical-gap);
}

/* Grid Styles */

.grid{
    border:1px solid black;
    aspect-ratio: 1/1;
    display: grid;
    grid-template-columns: repeat(var(--grid-size), 1fr);
    grid-template-rows: repeat(var(--grid-size), 1fr);
}

.grid-tile {
    border: 1px solid var(--grid-line);
    
}

/* Robot and Arrow Styles */

#robot-tile {
    visibility: visible;
    grid-row: 1;
    grid-column: 1;
    
    anchor-name: --robot-tile;
}

#robot {
    position: absolute;
    position-anchor: --robot-tile;
    position-area: center center;
    margin: auto;
    display:block;
    width: 40px;
    height: 40px;
    anchor-name: --robot;
}

#robot-head {
    margin: auto;
    background-color: var(--color-primary);
    width: 25px;
    height: 16px;
    border-radius: var(--border-medium);
    margin-bottom: 2px;
    padding-left: 1px;

}

.robot-eye {
    display: inline-block;
    margin-left: 6px;
    margin-bottom: 5px;
    background-color: black;
    border-radius: 2px;
    width: 3px;
    height: 3px;
}

#robot-body {
    margin: auto;
    background-color: var(--color-primary);
    width: 30px;
    height: 15px;
    border-radius: 4px 4px 2px 2px;

}


#arrow {
    /* border: 1px solid black; */
    position: absolute;
    font-weight: 1000;
    font-size: 2rem;
    color:  var(--color-primary);
}

#arrow.east {
    position-anchor: --robot;
    position-area: right center;
    margin: 5px;
    scale: 55% 120%;
}

#arrow.south {
    position-anchor: --robot;
    position-area: bottom center ;
    margin: -5px;
    transform: rotate(90deg);
    scale: 120% 55%;
}

#arrow.west {
    position-anchor: --robot;
    position-area: center left ;
    margin: 5px;
    transform: rotate(180deg);
    scale: 55% 120%;
}

#arrow.north {
    position-anchor: --robot;
    position-area: top center ;
    margin: -5px;
    transform: rotate(270deg);
    scale: 120% 55%;
}

/* Lower Console and Buttons Area */

.console {
    min-height: 100%;
}

.controls{
    padding: var(--vertical-gap) 0px;
    display:flex;
    justify-content: space-between;
    margin:auto;
    width: 300px;
}

.controls > button {
    background-color: var(--color-primary);
    color: var(--font-dark);
    width: 80px;
    aspect-ratio: 3/1.3;
    border-radius: var(--border-medium);

    box-shadow: 0px 1px 1px black;
}

.controls > button:hover {
    background-color: var(--color-primary-hover);
}

.output{
    margin:auto;
    padding: 10px 20px;
    text-align: center;
    color: var(--font-light);
    background-color: var(--background-secondary);
    border: 2px solid var(--color-primary);
    border-radius: var(--border-medium);

    width: 150px;
    aspect-ratio: 4/1;

    box-shadow: 0px 1px 1px black;
}